QWidget {
    background: transparent;
}

QToolButton{
    background-color: transparent;
}

QLabel{
    background-color: transparent;
}

QLabel#userInfoLabel {
    font: 14px "Microsoft YaHei";
    color: rgb(138, 141, 145);
}

QToolButton{
    background-color: white;
}