QWidget {
    background: white;
}

QLabel#userInfoLabel {
    background-color: transparent;
    font: 14px "Microsoft YaHei";
    color: rgb(138, 141, 145);
}

QToolButton{
    background-color: white;
}